#container
  h1 Fill the form
  #form-box
    i#prev-btn.ff-arrow-left2
    i#prev-btn.ff-arrow-right2
    #input-group
      input#input-field(required)
      label#input-label Enter Your First Name
      #input-progress
    #propress-bar