#container
  h1.logo Fill the form
  #form-box
    i#prev-btn.ff-arrow-left2
    i#next-btn.ff-arrow-right2
    #input-group
      input#input-field(required)
      label#input-label 
      #input-progress
    #progress-bar